.radioSet {
    border: none;
}

input[type='radio'] {

    background-color: #fff;
    margin-right: .4em;
    font: inherit;
    color: rgb(46, 91, 110);
    width: 1em;
    height: 1em;
    border: 0.15em solid rgb(46, 91, 110);
    border-radius: 50%;
    transform: translateY(-0.075em);
}
.radio__personalTime,
.radio__sickTime{
    margin-top: .5em;
}