@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  --ff-primary: "Montserrat", sans-serif;
  --fw-reg: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --step-0: clamp(1.00rem, calc(0.92rem + 0.42vw), 1.25rem);
}
/* the container for the main app */
.App{
  padding-top: 8em;
  font-family: var(--ff-primary);
  font-size: var(--step-0);
  /* border:3px solid tomato; */
}
/* .wrapper{
  border:3px solid black;
} */
.header__text{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__text h1{
  margin: 0;
  padding: 0;
}
.headerLogo {
  height: 4em;
  width: 4em;
}

.logo{
  /* border:1px solid tomato; */
  
  font-size: var(--step-0);
}
#calendarPlus {
    color: rgb(72, 72, 73);
    font-size: 1.5em;
    margin-right: .5em;
    
}
.trackTime__button--container{
  margin-bottom: 4em;
}

.App header,
.App .publishData{
  margin-bottom: 3em;
  border-bottom: 1px solid rgb(72, 72, 73);
}
.trackTime__button{
  width: 80%;
  font-family: var(--ff-primary);
  font-size: var(--step-0);
  display: flex;
  justify-content:flex-start;
  align-items: flex-end;
  background-color: skyblue;
  border-radius: 10px;
  padding: .5em 0 .5em .5em;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
.trackTime__button:hover,
.trackTime__submit--button:hover{
    scale: .995;
}
.trackTime__button:active,
.trackTime__submit--button:active{
    background-color: rgb(121, 183, 207);
    transform: translateY(4px);

}


@media (min-width:600px){
  .headerLogo {
      height: 4em;
      width: 4em;
      position: absolute;
      right: 20%;
    }

}